.bulletinPageContainer {
  display: flex;

  position: relative;

  width: 100%;
  height: 100vh;

  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: row;
  background-color: #e4ebf5;
}
.googleMapContainer {
  margin-top: 4%;
  width: 50%;
  background-color: #e4ebf5;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mapContainer {
  top: 90%;
  width: 100%;
  height: 90%;
  border-radius: 15px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
