$body-bg: #84a0f4;
$button-bg: #5c67ff;
$list-bg: #fff;
$user-bg: #f0f0f0;
$text-color: #1c3991;
$text-color-hover: #5c67ff;
$menu-icon-transition: transform 300ms cubic-bezier(0.52, -0.8, 0.52, 0.52);

.eachPostContainer {
  position: relative;
  // max-width: 205px;
  width: 80%;
  margin: 0 auto;
  margin-top: 5%;
  background-color: $list-bg;
  border-radius: 10px;
  .userWrapper {
    display: flex;
    height: 50px;
    width: 90%;
    margin: 0 auto;
    margin-top: 5%;
    background-color: $list-bg;
    // vertical-align: middle;
    img {
      background-color: white;
      border-radius: 50%;
      // border-color: $button-bg;
      // border-width: 3px;
    }
    span {
      height: 50px;
      margin-left: 10px;
      text-align: center;
      // vertical-align: middle;
      font-size: 20px;
      display: block;
      line-height: 50px;
    }
  }
  .contentContainer {
    width: 90%;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 2%;

    span {
      display: block;
      text-align: left;
    }
    img {
      transition: transform 0.5s; /* Animation */
      &:hover {
        transform: scale(102%);
      }
      margin-top: 2%;
      width: 100%;
      object-fit: contain;
    }
  }
}
